/*修改的css样式*/

/*导航栏*/
.nav-left {
    float: left;
    position:relative;
    top:20px;
    left:210px;
}
.nav-left .nav-leftchild {
    display: block;
    float: left;
    margin-right: 15px;
}
.nav-left .nav-leftchild a {
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.nav-left .nav-leftchild a:hover {
    color: lightgreen;
}
